<ion-view title="Recover Password">
  <ion-nav-buttons side="left">
    <button class="button icon clear ion-arrow-left-c" ng-click="back()"></button>
  </ion-nav-buttons>
  <div class="bg-image red-car-img"></div>
  <ion-content padding="true" has-header="true" scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="user.email" required />
      </label>
    </div>
    <button type="button" ng-click="submit()" class="button button-block button-energized">
      Send Instructions
    </button>
  </ion-content>
</ion-view>