<ion-view title="Share the Love">
  <div class="bg-image puppie-img"></div>
  <ion-content has-header="true" has-tabs="true">
    <div class="share-buttons">
      <button class="button button-block button-positive" ng-click="inviteFriends()"><i class="icon ion-paper-airplane"></i> Invite Friends</button>
      <button class="button button-block button-balanced" ng-click="getReviews()">
        <i class="icon ion-arrow-up-a"></i> Get References
      </button>
      <button class="button button-block button-energized" ng-click="loveCoride()">
        <i class="icon ion-heart"></i> Love Coride?
      </button>
    </div>
  </ion-content>
</ion-view>