<ion-tabs class='tabs-positive tabs-icon-top'>

  <!-- Destination Tab -->
  <ion-tab title="Corides" icon="icon ion-location" href="#/tab/destinations">
    <ion-nav-view name="destinations-tab"></ion-nav-view>
  </ion-tab>

  <!-- Chat Tab  --> 
  <ion-tab title="Inbox" icon="icon ion-chatboxes" href="#/tab/chat_rooms">
    <ion-nav-view name="chat-rooms-tab"></ion-nav-view>
  </ion-tab>

  <!-- Share Tab -->
  <ion-tab title="Share" icon="icon ion-heart" href="#/tab/share">
    <ion-nav-view name="share-tab"></ion-nav-view>
  </ion-tab>

  <!-- Payments Tab -->
  <ion-tab title="Payment" icon="icon ion-card" href="#/tab/payments">
    <ion-nav-view name="payments-tab"></ion-nav-view>
  </ion-tab>

  <!-- User Tab -->
  <ion-tab title="Profile" icon="icon ion-person" href="#/tab/user-tab">
    <ion-nav-view name="user-tab"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
